.container {
  grid-template-rows: 1fr 3fr 3fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    'item1 item1 item1'
    'item3 item3 item3'
    'item2 item4 item4'
    'item2 item7 item7'
    'item2 item6 item5';

  .item {
    font-size: 1.5rem;
  }
}
